.app-container {
  padding: 20px;
  border: 2px solid #ff002b;
  transition: background-color 0.3s ease;
}

button {
  padding: 10px;
  background-color: #fff;
  color: #ff0055;
  border: 2px solid #ff003c;
  cursor: pointer;
}

.box.clicked {
  background-color: #ffdd00;
  color: #fff;
}

ol {
  color: red;
}

h2 {
  color: blue;
}

p {
  color: red;
}