
.appContainer {
  background-color:#22e1d5;
  text-align: center;
  margin: 10px;
  padding: 30px;
  border: 10px solid #da0000;
  border-radius: 10%;
}

h2 {
  color: #1d0dcd;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

button {
  margin: 0 10px;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #744caf;
  color: white;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #c10944;
}


